<settings>
  <proxies>
    <proxy>
      <id>dev http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>dev-proxy.oa.com</host>
      <port>8080</port>
      <nonProxyHosts>mirrors.tencent.com|qq.com|localhost|127.0.0.1</nonProxyHosts>
    </proxy>
    <proxy>
      <id>dev https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>dev-proxy.oa.com</host>
      <port>8080</port>
      <nonProxyHosts>mirrors.tencent.com|qq.com|localhost|127.0.0.1</nonProxyHosts>
    </proxy>
  </proxies>
  
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>maven_public</id>
          <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>tencent_public</id>
          <url>https://mirrors.tencent.com/repository/maven/tencent_public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>thirdparty</id>
          <url>https://mirrors.tencent.com/repository/maven/thirdparty/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>mqq</id>
          <url>https://mirrors.tencent.com/repository/maven/mqq/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

         <repository>
          <id>thirdparty-snapshots</id>
          <url>https://mirrors.tencent.com/repository/maven/thirdparty-snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
       <pluginRepositories>
        <pluginRepository>
          <id>maven-public-plugin</id>
          <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>public-plugin</id>
          <url>https://mirrors.tencent.com/repository/maven/tencent_public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>thirdparty-plugin</id>
          <url>https://mirrors.tencent.com/repository/maven/thirdparty/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
      </pluginRepository>
        </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  <servers>
        <server>
            <id>thirdparty-snapshots</id>
            <username>alexyli</username>
            <password>adc1dbaa44d411ea85a46c92bf3acd2c</password>s
        </server>
   </servers>
</settings>